.logo, .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    width: 518.4px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 691.2px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 892.8px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}

html, body {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 65px;
}

.logo img {
  width: 160px;
  height: 30px;
}

.localisation {
  background: #EAEAEA;
  -webkit-box-shadow: -2px 11px 4px -7px rgba(0, 0, 0, 0.62) inset;
          box-shadow: -2px 11px 4px -7px rgba(0, 0, 0, 0.62) inset;
}

.localisation .fa-map-marker-alt {
  margin-right: 25px;
}

.localisation p {
  font-size: 1.1rem;
  font-weight: bold;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 320px;
  background: #F6F6F6;
}

.jumbotron h1 {
  margin: 0;
  width: 245px;
  height: 60px;
  font-size: 1.55rem;
  text-align: center;
  font-weight: 700;
}

.jumbotron p {
  width: 315px;
  height: 60px;
  text-align: center;
  font-size: 1.12rem;
  margin: 0;
  font-weight: 400;
}

.btn {
  text-decoration: none;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, #FF79DA), color-stop(85%, #9356DC));
  background: linear-gradient(to bottom, #FF79DA -10%, #9356DC 85%);
  -webkit-box-shadow: -1px 5px 10px -5px #3f423f;
          box-shadow: -1px 5px 10px -5px #3f423f;
  border-radius: 25px;
  width: 215px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 0.95rem;
  letter-spacing: 1.2;
  margin-bottom: 25px;
}

/* Services */
.services {
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services h2 {
  font-size: 1.3rem;
  margin: 0 15px;
}

.services--item {
  position: relative;
  margin: 0 20px;
  width: 350px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  border-radius: 25px;
  -webkit-box-shadow: 5px 8px 10px -2px rgba(86, 88, 86, 0.15);
          box-shadow: 5px 8px 10px -2px rgba(86, 88, 86, 0.15);
}

.services--item--one, .services--item--two, .services--item--three {
  position: relative;
  left: -10px;
}

.services--item--one .fa-circle, .services--item--two .fa-circle, .services--item--three .fa-circle {
  font-size: 1.5rem;
  color: #9356DC;
}

.services--item--one span, .services--item--two span, .services--item--three span {
  position: absolute;
  top: 5px;
  left: 8px;
  color: #FFFFFF;
  font-size: 0.9rem;
}

.services--item--choisir, .services--item--composer, .services--item--manger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services--item--choisir .svg-inline--fa, .services--item--composer .svg-inline--fa, .services--item--manger .svg-inline--fa {
  margin: 0 25px 0 20px;
  font-size: 1.3rem;
}

.services--item--choisir p, .services--item--composer p, .services--item--manger p {
  font-weight: 600;
  letter-spacing: 1.4;
}

/* Restaurants */
.restaurants {
  height: 1225px;
  background-color: #F6F6F6;
  margin-top: 20px;
  padding: 20px 15px 0 15px;
}

.restaurants h2 {
  font-size: 1.7rem;
}

.restaurants--item {
  width: 340px;
  height: 260px;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.restaurants--item figure {
  margin: 0;
}

.restaurants--item figure figcaption {
  position: relative;
  padding-left: 15px;
  margin: 15px 0;
}

.restaurants--item figure figcaption h3, .restaurants--item figure figcaption p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.restaurants--item figure figcaption .fa-heart {
  position: absolute;
  right: 30px;
  top: 5px;
  font-size: 1.6rem;
}

.restaurants--item img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurants--item--palette {
  -o-object-position: 100% 108%;
     object-position: 100% 108%;
}

.restaurants--item--enchantee {
  -o-object-position: 100% 61%;
     object-position: 100% 61%;
}

.restaurants--item--francaise {
  -o-object-position: 100% 108%;
     object-position: 100% 108%;
}

.restaurants--item--delices {
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

/* footer */
footer {
  height: 175px;
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}

.navigation--footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation--footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.navigation--footer--item {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.navigation--footer--item--home {
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.navigation--footer--item--icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation--footer--item--icone .svg-inline--fa {
  font-size: 0.9rem;
}

.navigation--footer--item--icone .fa-utensils {
  margin-right: 24px;
}

.navigation--footer--item--icone .fa-hands-helping {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */