@import './utils/variables';
@import './utils/placeholders';


// Taille du container en fonction des breakpoints
@each $nom, $breakpoint in $grille {
    @media (min-width: $breakpoint) {
        .container{
            width: $breakpoint * 0.9;
        }
    }
}

// .container {
//     width: 375px * 0.9;
//     margin: 0 auto;
// }

html, body {
    font-size: $size-base;
}

body {
    font-family: $text-body;
}

.logo {
    height: 65px;
    @extend %center-flex;

    img {
        width: 160px;
        height: 30px;
    }
}

.localisation {
    background: #EAEAEA;
    box-shadow: -2px 11px 4px -7px rgba(0,0,0,0.62) inset;
    @extend %center-flex;

    .fa-map-marker-alt {
        margin-right: 25px;
    }

    p {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 320px;
    background: $bg-gris-fonce;

    h1 {
        margin: 0;
        width: 245px;
        height: 60px;
        font-size: 1.55rem;
        text-align: center;
        font-weight: 700;
    }

    p {
        width: 315px;
        height: 60px;
        text-align: center;
        font-size: 1.12rem;
        margin: 0;
        font-weight: 400;
    }

}

.btn {
    text-decoration: none;
    color: #FFFFFF;
    background:linear-gradient(to bottom, $secondary-color -10%, $primary-color 85%);
	box-shadow: -1px 5px 10px -5px #3f423f;
    border-radius: 25px;
    width: 215px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.95rem;
    letter-spacing: 1.2;
    margin-bottom: 25px;
}

/* Services */
.services {
    height: 445px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
        font-size: 1.3rem;
        margin: 0;
    }

    &--item {
        position: relative;
        width: 350px;
        height: 80px;
        display: flex;
        align-items: center;
        background: $bg-gris-fonce;
        border-radius: 25px;

        &--one, &--two, &--three {
            position: relative;
            .fa-circle {
                font-size: 1.5rem;
                color: $primary-color;
            }

            span {
                position: absolute;
                top: 5px;
                left: 8px;
                color: #FFFFFF;
                font-size: 0.9rem;
            }
        }
    }

    &--item--choisir, 
    &--item--composer,
    &--item--manger {
        display: flex;
        align-items: center;

        .svg-inline--fa {
            margin: 0 20px;
            font-size: 1.3rem;
        }

        p {
            font-weight: 600;
            letter-spacing: 1.4;
        }
    }
}




