
.nos-menus {
    background-color: map-get($backgrounds, gris-fonce);
    height: 1195px;
    padding: 0 20px;

    h2 {
        padding-top: 45px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 15px;

        span {
            display: block;
            width: 40px;
            border: 1px solid $tertiary-color;
            margin-top: 3px;
        }
    }

    &--item {

        a {
            color: #000;
        }
    }

    &--cmd {
        display: block;
        margin: 0 auto;
    }
}

.menus-entrees {

    &--item {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);

        &--title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &--infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &--garnitures {
                font-size: 0.8rem;
            }

            &--prix {
                font-weight: 600;
                margin-right: 10px;
            }
        }
    }
}

.menus-plats {

    &--item {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);

        &--title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &--infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &--garnitures {
                font-size: 0.8rem;
            }

            &--prix {
                font-weight: 600;
                margin-right: 10px;
            }
        }
    }
}


.menus-desserts {
    margin-bottom: 60px;

    &--item {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);

        &--title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &--infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &--garnitures {
                font-size: 0.8rem;
            }

            &--prix {
                font-weight: 600;
                margin-right: 10px;
            }
        }
    }
}