
.nos-menus {
    background-color: map-get($backgrounds, gris-fonce);
    height: auto;
    padding: 0 20px;
    padding-bottom: 35px;

    h2 {
        padding-top: 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 15px;

        span {
            display: block;
            width: 40px;
            border: 1px solid $tertiary-color;
            margin-top: 3px;
        }
    }

    &__item {

        a {
            color: #000;
        }    
    }

    &__cmd {
        display: block;
        margin: 0 auto;
    }
}

.menus-entrees {
    
    &__item {
        position: relative;
        width: 95%;
        height: 70px;
        display: flex;
        padding-left: 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);
        
        &--infos {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 73%;
            margin: 0;
            
            

            &-title {
                font-weight: 600;
                font-size: 0.98rem;
                margin-top: 0;
                margin-bottom: 5px;
            }

            &-garnitures {
                padding-right: 10px;
                font-size: 0.9rem;
                white-space: nowrap;
            }

            &:hover + .menus-entrees__item--price-noselected + .menus-entrees__item--price-selected {
                z-index: 1;
                transform: translateX(-30px);
                animation: show-selected 700ms 400ms linear forwards;
               
            }

            &:hover + .menus-entrees__item--price-noselected + .menus-entrees__item--price-selected .fa-check-circle {
                animation: rotate-check 1400ms ease-in-out;
            }

            &:hover + .menus-entrees__item--price-noselected {
                transform: translateX(-60px);
            }

            &:hover > p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &--price {
            width: 120px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            

            &-noselected {
                align-self: flex-end;
                margin-bottom: 13px; 
                position: relative;
                right: -50px;
                transition: all 2000ms;
                
               
            }

            &-selected {
                @extend %center-flex;
    
                width: 60px;
                height: 70px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background: $tertiary-color;
                // opacity: 0;
                display: none;
                z-index: -2;
                position: relative;
                right: -30px;
                transition: all 1000ms;

                .fa-check-circle {
                    font-size: 1.5rem;
                    color: #FFF;
                    // animation: rotate-check 1s ease-in-out;
                }
            }
        }

        &-anim {
            @for $i from 1 through 4 {
                &-#{$i} {
                    animation: apparition-menus 1000ms #{$i/2}s ease-in-out;
                }
            }
        }
    }
}

.menus-plats {

    &__item {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);

        &--title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &--infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &--garnitures {
                font-size: 0.8rem;
            }

            &--prix {
                font-weight: 600;
                margin-right: 10px;
            }
        }

        &-anim {
            @for $i from 1 through 4 {
                &-#{$i} {
                    animation: apparition-menus 1000ms #{($i+3)/2}s ease-in-out;
                }
            }
        }
    }
}


.menus-desserts {
    margin-bottom: 60px;

    &__item {
        display: block;
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        background: #FFF;
        border-radius: 15px;
        @include shadow(2px, 5px, 7px, 1px);

        &--title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &--infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &--garnitures {
                font-size: 0.8rem;
            }

            &--prix {
                font-weight: 600;
                margin-right: 10px;
            }
        }

        &-anim {
            @for $i from 1 through 4 {
                &-#{$i} {
                    animation: apparition-menus 1000ms #{($i+6)/2}s ease-in-out;
                }
            }
        }
    }
}


// @for $i from 1 through 4 {
//     .menus-entrees__item-anim-#{$i} {
//         animation: apparition-menus 1000ms #{$i/2}s ease-in-out;
//     }
//     .menus-plats__item-anim-#{$i} {
//         animation: apparition-menus 1000ms #{$i/3}s ease-in-out;
//     }
//     .menus-desserts__item-anim-#{$i} {
//         animation: apparition-menus 1000ms #{$i/4}s ease-in-out;
//     }
//     .menus-desserts__item-anim-#{$i} {
//         animation: apparition-menus 1000ms #{$i/5}s ease-in-out;
//     }
// }
