.nos-menus {
    position: relative;

    &__sous-titre {
        padding-top: 60px !important;

    }
}


.title-restaurant {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: map-get($backgrounds, gris-fonce);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 30px;

    &__item {
        font-size: 1.6rem;
        font-family: $text-title-logo;
        font-weight: normal;
        padding-right: 20px;

        &--court {
            padding-right: 35px;
        }
    }

    .fa-heart {
        font-size: 1.3rem;
        padding-right: 25px;
    }
}