.container {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 320px;
    background: map-get($backgrounds, gris-fonce);

    h1 {
        margin: 0;
        width: 245px;
        height: 60px;
        font-size: 1.55rem;
        text-align: center;
        font-weight: 700;
    }

    p {
        width: 315px;
        height: 60px;
        text-align: center;
        font-size: 1.12rem;
        margin: 0;
        font-weight: 400;
    }

}



/* Services */
.services {
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        font-size: 1.3rem;
        margin: 0 15px;
    }

    &__item {
        position: relative;
        margin: 0 20px;
        width: 330px;
        height: 80px;
        display: flex;
        align-items: center;
        background: map-get($backgrounds, gris-fonce);
        border-radius: 25px;
        @include shadow(5px, 8px, 10px, -2px);
        margin-bottom: 15px;

        &-one, &-two, &-three {
            position: relative;
            left: -10px;
            .fa-circle {
                font-size: 1.5rem;
                color: $primary-color;
            }

            span {
                position: absolute;
                top: 5px;
                left: 8px;
                color: #FFFFFF;
                font-size: 0.9rem;
            }
        }

        &:hover {
            background: $primary-color-lighter;

            .fas {
                color: $primary-color;
            }
        }
    }

    &__item-choisir, 
    &__item-composer,
    &__item-manger {
        display: flex;
        align-items: center;

        .fas {
            margin: 0 25px 0 20px;
            font-size: 1.3rem;
        }

        .fa-mobile-alt {
            margin: 0 30px 0 20px;
            font-size: 1.3rem;
        }

        p {
            font-weight: 600;
            letter-spacing: 1.4;
        }

    }
}

/* Restaurants */
.restaurants {
    height: auto;
    background-color: map-get($backgrounds, gris-fonce);
    margin-top: 20px;
    padding: 45px 15px 15px 15px;

    h2 {
        font-size: 1.7rem;
        padding-bottom: 30px;
    }

    &__item {
        position: relative;
        width: 340px;
        height: 260px;
        border-radius: 10px;
        background: #FFFFFF;
        margin-bottom: 20px;
        @include shadow(5px, 8px, 10px, -2px);

        a {
            text-decoration: none;
            color: #000;
        }

        &--heart,
        &--heart-plein {
            position: absolute;
            right: 30px;
            top: 5px;
            font-size: 1.6rem;
        }
        
        &--heart-plein {
            opacity: 0;
            transition: opacity 500ms;

            &:hover,
            &:active {
                opacity: 1;
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                background: linear-gradient($primary-color, $secondary-color);
                background: -webkit-gradient(linear, center top, center bottom, from($primary-color), to($secondary-color));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        figure {
            margin: 0;

            figcaption {
                position: relative;
                padding-left: 15px;
                margin: 15px 0;

                h3, p {
                    margin: 0;
                    padding-bottom: 10px;
                    font-size: 1.2rem;
                }
            }
        }

        img {
            width: 100%;
            height: 175px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        
        &--new {
            display: block;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 80px;
            height: 30px;
            background: $tertiary-color;
            font-size: 0.9rem;
            color: #008766;
            border-radius: 3px;
            text-align: center;
            line-height: 30px;
        }
    }

    &__item--palette {
        object-position: 100% 108%;
    }

    &__item--enchantee {
        object-position: 100% 61%;
    }

    &__item--francaise {
        object-position: 100% 108%;
    }

    &__item--delices {
        object-position: 100% 100%;
    }
    
}