@keyframes show-selected {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    25% {
        opacity: 0.25;
        // width: -20px;
    }
    50% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
        // width: 0px;
    }
    100% {
        opacity: 1;
        transform: translateX(-30px);
    }
}

@keyframes rotate-check {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes translate-price {
    from {
        width: 100%;
    }
    to {
        width: calc(100% - 50px);
    }
}

@keyframes apparition-menus {
    0% {
        opacity: 0.0001;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}


