// animation pour faire apparaître le checked du pris sélectionné
@keyframes show-selected {
    0% {
        display: block;
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 85px;
    }
}

// animation pour faire tourner le checked de la sélection du prix
@keyframes rotate-check {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

// animation pour faire glisser le prix vers la gauche
@keyframes translate-price {
    from{
        transform: translateX(0px);
    }
    to {
        transform: translateX(-60px);
    }
}

// animation pour faire apparaître les menus des pages restaurants
@keyframes apparition-menus {
    0% {
        opacity: 0.0001;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}


