@media (min-width: map-get($grille, sm)) {
    .services {
        h2 {
            text-align: center;
        }

        &__item {
            width: 95%;
        }
    }

    .restaurants {
        h2 {
            text-align: center;
        }

        &__item {
            width: 100%;
        }
    }

    .navigation--footer {

        &__item {

            &-home {
                text-align: center;
            }
        }
    }
}

@media (min-width: map-get($grille, md)) {

    .title-restaurant {
        width: 100%;
        left: 0;
        justify-content: space-between;

        &__item--court {
            padding-left: 20px;
        }

        .fa-heart {
            padding-right: 35px;
        }
    }

    .services {

        &__item {
            width: 460px;
        }
    }


    .restaurants {
        height: auto;

        & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 48%;
        }
    }

    .menus-entrees {
        &__item {
            &--price {

                &-noselected {
                    right: 15px;
                }

                &-selected {
                    right: 0px;
                }
            }
        }
    }

   
    .menus-entrees,
    .menus-plats,
    .menus-desserts {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            width: 65%;
        }
    }

    footer {
        height: auto;
        padding: 20px;
    }

   .footer__item {
       text-align: center;

       &-home {
        font-family: $text-title-logo;
        margin-bottom: 15px;
        font-size: 1.4rem;
    }
   }

    .navigation__footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}


@media (min-width: map-get($grille, lg)) {
    
    .services {
        height: 280px;

        & > div {
            display: flex;
        }

        &__item {

            width: 300px;
            flex: 1 1 auto;

            &-choisir,
            &-composer,
            &-manger {

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .menus-entrees {
        &__item {
            &--price {

                &-noselected {
                    right: 15px;
                }

                &-selected {
                    right: 0px;
                }
            }
        }
    }

    .menus-entrees,
    .menus-plats,
    .menus-desserts {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            width: 38%;
            margin-right: 30px;
        }
    }
   
}


@media (min-width: map-get($grille, xl)) {
    .services {
        
        &__item {

            width: 410px;
            flex: 1 1 auto;

            &-choisir,
            &-composer,
            &-manger {

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .restaurants {

        & > div {
            flex-wrap: nowrap;
        }

        &__item {
            width: 24%;
        }
    }

    .nos-menus {

        h2 {
            padding-top: 60px;
        }

        &__item {
            width: 600px;
        }

        article {
            display: flex;
            justify-content: center;

            .nos-menus__item-wrapper {
                width: 33%;
            }
        }

        .title-restaurant {

            &__item {
                margin-left: 29px;
            }
        }
    }

    .menus-entrees {
        &__item {
            
            &--price {

                &-noselected {
                    right: 15px;
                }

                &-selected {
                    right: 0px;
                }
            }
        }
    }

    .menus-entrees,
    .menus-plats,
    .menus-desserts {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__item {
            width: 60%;
        }
    }
}