// Centrer en flex
%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Taille du container en fonction des breakpoints
@each $nom, $breakpoint in $grille {
    @media (min-width: $breakpoint) {
        .container{
            width: $breakpoint * 0.9;
        }
    }
    @if $breakpoint == 1440px {
        @media (min-width: $breakpoint) {
            .container{
                width: 1360px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}

//Animation sur coeur
%anim-heart {
    opacity: 1;
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    background: linear-gradient($primary-color, $secondary-color);
    background: -webkit-gradient(linear, center top, center bottom, from($primary-color), to($secondary-color));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Ellipsis sur garnitures
%ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}