// Couleurs du site 
$primary-color: #9356DC;
$primary-color-lighter: #f5edff;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Couleur ombre
$color-shadow: hsla(120, 1%, 34%, 0.150);

// Polices
$text-title-logo: 'Shrikhand', cursive;
$text-body: 'Roboto', sans-serif;

// Taille de polices
$size-base: 16px;


// Définition des différents breakpoints
$grille: (
    sm: 576px,
    md: 768px,
    lg: 1200px,
    xl: 1500px
);

// Mes fonds

$backgrounds: (
    localisation: #EAEAEA,
    gris-fonce: #F6F6F6,
    footer: #353535
);

// Taille éléments
$size-selected: 60px;